@model TSD2491_OBLIG1_250074.Models.MatchingGameModul


@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        .container {
            width: 400px;
        }

        button {
            width: 100px;
            height: 100px;
            font-size: 50px;
        }
    </style>
</head>

<div class="text-center">
    <h1 class="display-4">TSD2491-Oblig1</h1>

    <div class="container">
        <div class="row">
            @for (var animalNumber = 0; animalNumber < Model.shuffledEmoji.Count; animalNumber++)
            {
                var animal = Model.shuffledEmoji[animalNumber];
                var uniqueDescription = $"Button #{animalNumber}";
                <div class="col-3">
                    @using (Html.BeginForm("ButtonClick", "Home", FormMethod.Post))
                    {
                        <input type="hidden" name="animal" value="@animal" />
                        <input type="hidden" name="description" value="@uniqueDescription" />
                        <button type="submit" class="btn btn-outline-dark">
                            <h1>@animal</h1>
                        </button>
                    }
                </div>
            }
        </div>
    </div>

    <div class="row">
        <h2>Match Found: @Model.MatchesFound</h2>
        @if (Model.gameStatus == "Game Running")
        {
            <h3>Game Status: @Model.gameStatus</h3>
        }
        else if (Model.gameStatus == "Game Complete")
        {
            <h3>Game Status: @Model.gameStatus</h3>
        }
    </div>
